body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.fifty {
    width: 50%;
    display: block;
}

svg.circle {
    height: 300px;
    width: 300px;
}

circle {
    fill: #F1F1F1;
    stroke: black;
    stroke-width: 4;
    stroke-dasharray: 25%;
    animation: rotate 1000ms linear 0s infinite;
}

text {
    text-anchor: middle;
    alignment-baseline: central;
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*
 * Graph styles
 */

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.download-line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.upload-line {
  fill: none;
  stroke: #FF7F0E;
  stroke-width: 1.5px;
}