body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.download-line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.upload-line {
  fill: none;
  stroke: #FF7F0E;
  stroke-width: 1.5px;
}