body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.fifty {
    width: 50%;
    display: block;
}

svg {
    height: 300px;
    width: 300px;
}

circle {
    fill: #F1F1F1;
    stroke: black;
    stroke-width: 4;
    stroke-dasharray: 25%;
    animation: rotate 1000ms linear 0s infinite;
}

text {
    text-anchor: middle;
    alignment-baseline: central;
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}